/* m */
@media screen and (max-width: 799px) {
    body{
        background-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg);
        height: 200vh;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(4,1fr);
        margin: 0px;
    }
    #ih{
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
        grid-row-start:1 ;
        grid-row-end:2 ;
        margin: 1%;
        border-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg);
        border-image-slice: 100%;
    }
    #is{
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
        grid-row-start:2 ;
        grid-row-end:3 ;
    }
    #id{
        grid-row-start:3 ;
        grid-row-end:4 ;
    }
    #il{
        grid-row-start:4 ;
        grid-row-end:4 ;
    }
}

/* d */
@media screen and (min-width: 800px) and (max-width: 1400px){
    body{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(2,1fr);
        
        position: absolute;
        left:20vw;
        width: 100vw;
        height: 100vh;
        background-image: url(/webbutveckling/springWU/img/pexels-photo-326311.jpeg);
        margin: 0px;
    }
   
}
