/* m */
@media screen and (max-width: 800px) {
    /* start */
    body.h{
        /* background-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg); */
        height: 200vh;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 10% repeat(4,1fr);
        margin: 0px;
    }
    .b{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(4,1fr);
        grid-row-start:2 ;
        grid-row-end:6 ;
        margin-right: 1%;
        margin-left: 1%;
        background-color: gray;
        /* background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg); */
        font-family:cursive ;
        text-align: center;
    }
    p.i{
        grid-row-start:2 ;
        grid-row-end:3 ;
        font-size: large;
        background-color: rgb(255, 255, 255);
        margin: 0px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px ;
    }
    h2{
        grid-row-start:1 ;
        grid-row-end:2 ;
    }
    #ih{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:1 ;
        grid-row-end:2 ;
        text-align: center;
    }
    #is{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:2 ;
        grid-row-end:3 ;
        text-align: center;
    }
    #id{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:3 ;
        grid-row-end:4 ;
        text-align: center;
    }
    #il{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:4 ;
        grid-row-end:4 ;
        text-align: center;
    }

    #m{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20vh;
    }
}

/* d */
@media screen and (min-width: 800px) and (max-width: 1400px){
    /* start */
    body.h{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: 20% 80%;
        position: absolute;
        /* background-image: url(/webbutveckling/springWU/img/pexels-photo-326311.jpeg); */
        background-color: white;
        margin: 0px;
    }
    .b{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-start:2 ;
        grid-row-end:2 ;
        grid-column-start:1 ;
        grid-column-end:3 ;
        margin-right: 1%;
        margin-left: 1%;
        background-color: gray;
        /* background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg); */
        font-family:cursive ;
        text-align: center;
    }
    p.i{
        grid-row-start:2 ;
        grid-row-end:3 ;
        font-size: large;
        background-color: rgb(255, 255, 255);
        margin: 0px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px ;
    }
    h2{
        grid-row-start:1 ;
        grid-row-end:2 ;
    }
    #ih{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:1 ;
        grid-row-end:1 ;
        grid-column-start:1 ;
        grid-column-end:1 ;
        text-align: center;
    }
    #is{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:1 ;
        grid-row-end:1 ;
        grid-column-start:2 ;
        grid-column-end:2 ;
        text-align: center;
    }
    #id{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:2 ;
        grid-row-end:2 ;
        grid-column-start:1 ;
        grid-column-end:1 ;
        text-align: center;
    }
    #il{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:2 ;
        grid-row-end:2 ;
        grid-column-start:2 ;
        grid-column-end:2 ;
        text-align: center;
    }

    #m{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 11vw;
    }
}

/* almen */
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#lb{
    grid-row-start:1 ;
    grid-row-end:1 ;
    grid-column-start:1 ;
    grid-column-end:1 ;
    background-image: url(/webbutveckling/springWU/img/bookmark-book-icon.png);
    background-image: 1fr;
    background-position: left;
    background-size: 16vw ;
    background-repeat: no-repeat;
}
/* sida */
 body.x{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 10% 30% 40%;
    
}
.top{
    display: flex;
    grid-row-start:1 ;
    grid-row-end:2 ;
    background-color: grey;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: space-between;
    justify-content: center;
}
.m-b{
    justify-self: start ;
    cursor: pointer;
    display: inline;
    font-family: 'Material Icons';
    margin: 0;
}
.m-b i.m-i{
    font-size: 2.5rem;
}
.m{
    height: 100vh;
    width: 80vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.show{
    left: 0;
}
.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}
.fade-layer.visible{
    display: block;
}
.bu{
    justify-self: start ;
}
#r{
    justify-self: end ;
}
p.p{
    grid-row-start:2 ;
    grid-row-end:3 ;
    background-color: grey;
}
.l{
    display: grid;
    grid-row-start:3 ;
    grid-row-end:3 ;
    background-color: grey;
}