/* m */
@media screen and (max-width: 800px) {
    /* start */
    body.h{
        background-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg);
        height: 200vh;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 10% repeat(4,1fr);
        margin: 0px;
    }
    .b{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows:  10vh repeat(4,1fr);
        grid-row-start:1 ;
        grid-row-end:6 ;
        margin-right: 0%;
        margin-left: 2%;
        background-color: rgb(0, 0, 0);
        
        font-family:cursive ;
        text-align: center;
    }
    p.i{
        grid-row-start:2 ;
        grid-row-end:3 ;
        font-size: large;
        background-color: rgb(255, 255, 255);
        margin: 0px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px ;
    }
    h2{
        grid-row-start:1 ;
        grid-row-end:2 ;
    }
    #ih{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:2 ;
        grid-row-end:2 ;
        text-align: center;
        margin: 0.2%;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
    }
    #is{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:3 ;
        grid-row-end:3 ;
        text-align: center;
        margin: 0.2%;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
    }
    #id{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:4 ;
        grid-row-end:4 ;
        text-align: center;
        margin: 0.2%;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
    }
    #il{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        background-color: gray;
        grid-row-start:5 ;
        grid-row-end:5 ;
        text-align: center;
        margin: 0.2%;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
    }

    /* sida */
    body.x{
        background-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg);
        height: 100vh;
        display: grid;
        margin: 0px;
    }
    .pp{
        display: grid;
        margin-left: 2%;
        grid-template-columns: 1fr; 
        grid-template-rows: 10% 30% 40%;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
    }
    .top{
        display: flex;
        grid-row-start:1 ;
        grid-row-end:2 ;
        /* background-color: grey; */
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: space-between;
        justify-content: center;
        border-color:black ;
        border-style: solid;
        border-top: 0px  ;
        border-right: 0px ;
    }
    .m-b{
        justify-self: start ;
        cursor: pointer;
        display: inline;
        font-family: 'Material Icons';
        margin: 0;
    }
    .m-b i.m-i{
        font-size: 2.5rem;
    }
    .not{
        display: flex;
        align-items: start;
        background-image:url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg) ;
    }
    .m{
        height: 100vh;
        width: 80vw;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }
    button{
        font-family: 'Material Icons';
        padding: 0%;
        border: 0px;
        color: red;
        font-size: 10vh;
    }
    .show{
        left: 0;
    }
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    .fade-layer.visible{
        display: block;
    }
    .bu{
        justify-self: start ;
    }
    #r{
        justify-self: end ;
    }
    p.p{
        grid-row-start:2 ;
        grid-row-end:3 ;
        /* background-color: rgb(255, 255, 255); */
        border-color:black ;
        border-style: solid;
        /* border-radius: 2vw ; */
        /* border-top: 0px  ; */
        border-right: 0px ;
        border-left: 0px ;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .l{
        display: grid;
        grid-row-start:3 ;
        grid-row-end:3 ;
        /* background-color: grey; */
        border-color:black ;
        border-style: solid;
        /* border-radius: 2vw ; */
        /* border-top: 0px  ; */
        border-right: 0px ;
        border-left: 0px ;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    i{
        font-style: normal;
    }
    p{
        word-wrap: normal;
    }
    #m{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20vh;
    }
}

/* d */
@media screen and (min-width: 800px) and (max-width: 1400px){
    /* start */
    body.h{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5% 99% 0.5%;
        position: absolute;
        background-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg);
        background-color: white;
        margin: 0px;
    }
    .b{
        display: grid;
        grid-template-columns:49% 2% 49%;
        grid-template-rows: 9.9vh 44.5vh 44.5vh;
        grid-row-start:2 ;
        grid-row-end:2 ;
        /* grid-column-start:2 ;
        grid-column-end:2 ; */
        margin: 0%;
        margin-right: 1%;
        margin-left: 1%;
        /* background-color: gray; */
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
        font-family:cursive ;
        text-align: center;
        align-items: center;
    }
    p.i{
        grid-row-start:2 ;
        grid-row-end:3 ;
        font-size: large;
        background-color: rgb(255, 255, 255);
        margin: 0px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px ;
    }
    h2{
        grid-row-start:1 ;
        grid-row-end:2 ;
    }
    #ih{
        display: grid;
        height: 44.5vh;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        /* background-color: gray; */
        grid-row-start:2 ;
        grid-row-end:2 ;
        grid-column-start:1 ;
        grid-column-end:1 ;
        text-align: center;
    }
    #is{
        display: grid;
        height: 44.5vh;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        /* background-color: gray; */
        grid-row-start:2 ;
        grid-row-end:2 ;
        grid-column-start:3 ;
        grid-column-end:3 ;
        text-align: center;
    }
    #id{
        display: grid;
        height: 44vh;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        /* background-color: gray; */
        grid-row-start:3 ;
        grid-row-end:3 ;
        grid-column-start:1 ;
        grid-column-end:1 ;
        text-align: center;
    }
        #il{
        display: grid;
        height: 44vh;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,1fr);
        /* background-color: gray; */
        grid-row-start:3 ;
        grid-row-end: 3 ;
        grid-column-start:3 ;
        grid-column-end:3 ;
        text-align: center;
    }
    #s{
        display: flex;
        height: 100vh;
        grid-row-start:1 ;
        grid-row-end:4 ;
        grid-column-start:2 ;
        grid-column-end:2 ;
        flex-direction: column;

    }
    #ss{
        justify-self: center;
        height: 100vh;
        background-position: center;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(88, 88, 88), rgba(255, 255, 255, 0));
    }
    /* #lb{
        grid-row-start:1 ;
        grid-row-end:1 ;
        grid-column-start:1 ;
        grid-column-end:1 ;
        background-image: url(/webbutveckling/springWU/img/bookmark-book-icon.png);
        background-image: 1fr;
        background-position: left;
        background-size: 16vw ;
        background-repeat: no-repeat;
    } */
    body.x{
        background-image: url(/webbutveckling/springWU/img/brown-leather-texture-background.jpg);
        height: 100vh;
        display: grid;
        margin: 0px;
        grid-template-rows: 0.5% 99% 0.5%;
        align-items: center;
    }
    .pp{
        display: grid;
        height: 99vh;
        margin: 0px;
        grid-row-start:2 ;
        grid-row-end:2 ;
        /* margin-top: 0.5%; */
        margin-left: 2%;
        margin-right: 2%;
        /* margin-bottom: 0.5%; */
        grid-template-columns: 49% 2% 49%; 
        grid-template-rows: 20% 40% 40%;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
        align-items: center;
    }
    .top{
        display: flex;
        grid-row-start:1 ;
        grid-row-end:2 ;
        /* background-color: grey; */
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        border-color:black ;
        border-style: solid;
        border-top: 0px  ;
        border-right: 0px ;
        border-left: 0px ;
    }
    .m-b{
        justify-self: start ;
        cursor: pointer;
        display: inline;
        font-family: 'Material Icons';
        margin: 0;
    }
    .m-b i.m-i{
        font-size: 2.5rem;
    }
    .not{
        display: flex;
        align-items: start;
    }
    .m{
        height: 100vh;
        width: 80vw;
        background-image: url(/webbutveckling/springWU/img/white-crumpled-paper-texture-background.jpg);
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }
    button{
        font-family: 'Material Icons';
        padding: 0%;
        border: 0px;
        color: red;
        font-size: 9vh;
    }
    .show{
        left: 0;
    }
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    .fade-layer.visible{
        display: block;
    }
    .bu{
        justify-self: start ;
    }
    #r{
        justify-self: end ;
    }
    p.p{
        grid-row-start:2 ;
        grid-row-end:3 ;
        /* background-color: rgb(255, 255, 255); */
        border-color:black ;
        border-style: solid;
        /* border-radius: 2vw ; */
        /* border-top: 0px  ; */
        border-right: 0px ;
        border-left: 0px ;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .l{
        display: grid;
        grid-row-start:1 ;
        grid-row-end:4 ;
        grid-column-start: 3 ;
        grid-column-end: 3 ;
        /* background-color: grey; */
        border-color:black ;
        border-style: solid;
        /* border-radius: 2vw ; */
        /* border-top: 0px  ; */
        border-right: 0px ;
        border-left: 0px ;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    i{
        font-style: normal;
    }
    p{
        word-wrap: normal;
    }
    #sk{
        display: flex;
        height: 100vh;
        grid-row-start:1 ;
        grid-row-end:4 ;
        grid-column-start:2 ;
        grid-column-end:2 ;
        flex-direction: column;

    }
    #sksk{
        justify-self: center;
        height: 100vh;
        background-position: center;
        background-position: bottom;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(88, 88, 88), rgba(255, 255, 255, 0));
    }
    #m{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 11vw;
    }
}

/* almen */
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

